---
import { getBlogs, getBlogDetail } from '../library/microcms';

export async function getStaticPaths() {
  const limit = 100;
  let offset = 0;
  let allContents = [];
  let hasMore = true;

  while (hasMore) {
    const res = await getBlogs({ limit, offset, fields: ["id"] });
    allContents = allContents.concat(res.contents);
    offset += limit;
    hasMore = res.contents.length === limit;
  }

  return allContents.map((content) => ({
    params: { blogId: content.id },
  }));
}


const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId);
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{blog.title}</title>
</head>
<body>
  <h1>{blog.title}</h1>
  
  {blog.category && blog.category.length > 0 && (
    <ul class="post-category">
      {blog.category.map((cat) => (
        <li>{cat["cate-name"]}</li>
      ))}
    </ul>
  )}
  
  <p class="publishedAt">公開日は：{blog.publishedAt.substring(0, 10)}</p>
  <div class="post-thumb">
    {blog.thumbnail?.url && (
      <img src={blog.thumbnail.url} alt="{blog.title}" />
    )}
  </div>
  <div class="post-content" set:html={blog.content} />

</body>
</html>