---
import Layout from '../../layouts/Layout.astro';
import { getBlogs } from '../../library/microcms';

export async function getStaticPaths() {
  const limit = 5; //一覧表示数
  const response = await getBlogs();
  const totalPages = Math.ceil(response.totalCount / limit);
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: String(i + 1) },
  }));
}

const { params } = Astro;
const currentPage = Number(params.page);
const limit = 5;
const offset = (currentPage - 1) * limit;

const response = await getBlogs({
  limit,
  offset,
});

const totalPages = Math.ceil(response.totalCount / limit);


const range = 3; // ページネーション前後数

const centerPages = Array.from({ length: totalPages }, (_, i) => i + 1)
  .filter(page =>
    page > 1 &&
    page < totalPages &&
    page >= currentPage - range &&
    page <= currentPage + range
  );
---

<Layout>
<section class="">
  <div class="l-inner">

  <h2>記事一覧（{currentPage}ページ目）</h2>

  <ul class="l-grid l-grid--col3">
    {response.contents.map(content => (
      <li class="c-card l-grid__item"><a href={`/${content.id}`}>
        <div class="c-card__img">
        {content.thumbnail?.url && (
          <img 
            src={content.thumbnail.url} 
            alt={content.title} 
            width={150} 
            height={100} 
          />
        )}
        </div>
        <p class="c-card__title">{content.title}</p>
        {content.category && content.category.length > 0 && (
          <ul class="c-card__cate-wrap">
            {content.category.map((cat) => (
              <li class="c-card__">{cat["cate-name"]}</li>
            ))}
          </ul>
        )}
      </a>
      </li>
    ))}
  </ul>

  <div class="p-post__pagination">
  <nav class="c-pagination">
    <ul>
      {currentPage > 1 && (
        <li class="prev"><a href={`/page/${currentPage - 1}`} aria-label="前のページ"></a></li>
      )}
  
     {/* 最初のページ */}
      <li>
        {currentPage === 1 ? (
          <span class="current">1</span>
        ) : (
          <a href="/page/1">1</a>
        )}
      </li>
  
      {currentPage > 1 + range + 1 && <li><span>…</span></li>}
  
      {/* 中央ページ（±range） */}
      {centerPages.map(page => (
        <li>
          {page === currentPage ? (
            <span class="current">{page}</span>
          ) : (
            <a href={`/page/${page}`}>{page}</a>
          )}
        </li>
      ))}
  
      {currentPage < totalPages - range - 1 && <li><span>…</span></li>}
  
      {/* 最後のページ */}
      {totalPages > 1 && (
        <li>
          {currentPage === totalPages ? (
            <span class="current">{totalPages}</span>
          ) : (
            <a href={`/page/${totalPages}`}>{totalPages}</a>
          )}
        </li>
      )}
  
      {currentPage < totalPages && (
        <li class="next"><a href={`/page/${currentPage + 1}`} aria-label="次のページ"></a></li>
      )}
    </ul>
  </nav>
</div>
  
  
      
</div>
</section>
</Layout>
